*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(247, 239, 232);
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px
}

.nav-items{
    display:flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #181717;
    text-transform: capitalize;
    background: none;
    color: #181717;
    outline: none;
}
.search .placeholder{
    color: #181717;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-btn a{
    text-decoration: none;
    color: rgb(197, 186, 186);
    padding-left: -20px;
}
.search-btn a:hover{
    color: pink;
}
.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
    text-align: center;
}

.nav-items a img{
    width: 30px;
}
.nav-items i , p{
    color: #3c3939;
}
#p{
    color: #3c3939;
}
.nav-items i:hover{
    cursor: pointer;
    color: rgb(60, 55, 55);
}
.links-container{
     width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #0c0c0c;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 1 5px;
    text-decoration: none;
    color: #221d1d;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}